ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

.container {
  background-color: #0f0f0f;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  overflow: hidden;
}

.header {
  height: 20vh;
  width: 95%;
}

.top_header {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  margin-right: 30px;
  padding: 0;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background-color: #0f0f0f;
}
.header_left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  margin-left: 20px;
  width: 40px;
  background-color: #0f0f0f;
}
.youtube_text {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header_middel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* width: 8vw; */
  /* background-color: red; */
}

.header_middel ul {
  /* width: 90vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;

  overflow: hidden;
  /* background-color: aquamarine; */
}

.header_middel_li {
  display: flex;
  justify-content: center;
  background-color: #272727;
  border: 2px solid;
  border-radius: 50px;
  border-color: #272727;
  overflow: hidden;
  /* width: 90%; */
  /* padding:5px; */
}
.header_middel_li:hover {
  border-color: rgb(31, 8, 131);
}

.input {
  /* width: 50px; */
  /* padding-top: 2vh; */
  padding-right: 20vw;
  padding-left: 30px;
  border: none;
  color: #fff;
  z-index: 1;
  background-color: #0f0f0f;
}

.search_icon {
  text-align: center;
  padding: 5px 15px;
  border: none;
  color: #fff;
  /* border-radius:30px; */
  background-color: #272727;
}
.recored_icon {
  padding: 8px 12px;
  /* border: 1px solid red; */
  border-radius: 30px;
  color: #fff;
  background-color: #272727;
}

/* header right############################  */
.header_right {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header_right ul {
  /* background-color: red; */
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 25px;
  color: #fff;
  /* width: 90%; */
}
.header_right ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  cursor: pointer;
  /* gap: 10px; */
}

.creat {
  display: flex;
  align-items: center;
  background-color: #272727;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 8px 12px;
  cursor: pointer;
}
.account_icon {
  border-radius: 30px;
  background-color: rgb(245, 12, 55);
}

/* bottom header ######################################## */
.bottom_header {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom_header ul {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.bottom_header ul li {
  padding: 10px 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #272727;
  font-weight: 540;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.bottom_header ul li a {
  color: #ffff;
}



/* meadi query */

@media (max-width: 768px) {
  .input {
    display: none;
  }
}
